<ul>
 <li>asie01</li>
 <li>asie02</li>
 <li>Caen</li>
 <li>Oceanie1</li>
 <li>Oceanie2</li>
 <li>Casablanca</li>
 <li>Tripoli</li>
 <li>Alger</li>
 <li>Paris</li>
 <li>Bordeaux</li>
 <li>Nantes</li>
 <li>La Rochelle</li>
</ul>

